.posterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    max-width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 5vw 0;
    padding: 4em 2em;
    border-radius: 2em;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  
  .poster .logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .sponsorsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;

  }

  .sponsor {
    height: 100;
    width: 300;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .signUpFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
  }

  .popoverContent {
    padding: 1em;
    width: 25em;
    max-width: 100%;
  }